.b-mainWrapper {
	.b-mainWrapper_content {
		padding: 30px;
		margin: 0 auto;
		clear: both;
		overflow: hidden;
		max-width: 1350px;
		.c-gallery {
	  		&_item {
	  			float: left;
	  			width: 24%;
	  			margin-right: 1%;
	  			border: 1px solid #eee;
	  			padding: 20px;
	  			box-sizing: border-box;
	  			position: relative;
	  			height: 250px;
	  			div {
	  				margin: 0 auto;
	  				position: relative;
	  			}
	  		}
		}
	}
	&_primary {
		float: left;
		width: 45%;
	}
	&_secondary {
		float: right;
		width: 49%;
		box-sizing: border-box;
		border: 1px solid #eee;
		min-height: 500px;
		max-height: 500px;
		overflow: hidden;
		display: flex;
  		align-items: center;
  		justify-content: center;
  		background: url('../static/bg.jpg') repeat;
		div {
			transition: all .2s ease;
  			position: relative;
			margin: 0 auto;
		} 
	}
}